<div class="equipped-wrapper">
  <div class="equipped">
    <div class="equipped-main">
      <div class="equipped-img">
        <img src={{item.img}}/>
      </div>
      <div class="weapon-main">
        <div class="">
          <div class="weapon-main-name">
            {{item.name}}
          </div>
          <div class="weapon-main-description">
            <div>
              {{#if (eq item.type "weapon")}}
              {{#if item.system.isSecondary}} Secondary {{else }}Primary {{/if}}
              {{item.system.range}} Weapon - {{#if (eq item.system.burden "1H")}} One-Handed {{else}} Two-Handed {{/if}}
              {{else}}
              Armor Score - </strong>{{item.system.score}}
              {{/if}}
            </div>
          </div>
        </div>
        <div class="weapon-attributes">
          {{#if (eq item.type "weapon")}}
          <div data-type="{{item.abilityScore}}" class="weapon-main-ability"> {{item.abilityScorePrefix}}{{item.abilityScore}}
            {{item.system.trait}}</div>
          <div data-id="{{item._id}}" class="weapon-main-damage"> {{item.system.damage}} {{item.system.type}}</div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="weapon-options">
      {{#if (eq item.type "weapon")}}
      <div class={{ternary item.system.isEquipped "weapon-unequip" "weapon-equip" }} data-id={{item._id}}>
        {{ternary item.system.isEquipped "Unequip" "Equip"}}
      </div>
      {{/if}}
      {{#if (eq item.type "armor")}}
      <div class={{ternary item.system.isEquipped "armor-unequip" "armor-equip" }} data-id={{item._id}}>
        {{ternary item.system.isEquipped "Unequip" "Equip"}}
      </div>
      {{/if}}
      <div class='item-controls'>
        <a class='item-control weapon-edit' data-id={{item._id}} title='{{localize "DOCUMENT.Update" type=' Item'}}'>
          <i class='fas fa-edit'></i>
        </a>
        <a class='item-control weapon-delete' data-id={{item._id}} title='{{localize "DOCUMENT.Delete" type=' Item'}}'>
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </div>
  </div>
  {{#if item.system.feature}}
  <div class="equipped-feature">
    {{{item.system.feature}}}
  </div>
  {{/if}}
</div>