<div class="card panel">
  <div class="card-header-wrapper flex-align">
    <div class="card-header">
      <div class="card-name">{{item.name}}</div>
      <div class="card-domain">{{item.system.domain}}</div>
      <div class="card-type">{{item.system.domainType}}</div>
      <div class="card-recall">{{item.system.recall}} <i class='fas fa-bolt'></i></div>
    </div>
    <div data-item-id='{{item._id}}' class="card-activate {{#if item.system.active}} danger {{/if}}"> {{#if
      item.system.active}} Deactivate {{else}} Activate
      {{/if}} </div>
  </div>
  <div class="card-body">

    {{{item.system.feature}}}

    <div class="card-options">
      <div class="flex-group-center ">
        <a data-item-id='{{item._id}}' class='item-control card-edit' title='Edit card'>
          <i class='fas fa-edit'></i>
        </a>
        <a data-item-id='{{item._id}}' class='item-control card-delete' title='Delete Card'>
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </div>


  </div>

</div>