<div class="ui-card">
  <div class="ui-card-body">
    <div class="card-back">
      <div class="ui-card-tooltip" data-name="{{name}}">{{{feature}}}</div>
    </div>
    <div class="card-front">
      <img src="{{img}}" class="ui-card-image" />
      <div class="ui-card-name">{{name}}</div>
      <div class="ui-card-domain">{{domain}}</div>
    </div>
  </div>
</div>