<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <div class="flex-align">
    <label>Edit Mode</label>
    <input {{checked system.editMode}} type="checkbox" name="system.editMode" />
  </div>

  <div class="enemy-header">
    <div class="enemy-img img-wrap"><img src={{actor.img}} data-edit="img" height="100px" width="100px" /></div>
    <div class="enemy-header-description">
      <div class="enemy-name">
        <label>Name</label>
        <input class="enemy-name-input" type="text" name="name" value="{{actor.name}}" />
      </div>
      <div class="enemy-header-split">
        <div class="enemy-header-stats">
          <div class="enemy-hp">
            <label class="enemy-label"> HP:</label>
            <input type="text" name="system.health.value" value="{{system.health.value}}" />
            <input type="text" name="system.health.max" value="{{system.health.max}}" />
          </div>

          <div class="enemy-stress">
            <label class="enemy-label"> Stress: </label>
            <input type="text" name="system.stress.value" value="{{system.stress.value}}" />
            <input type="text" name="system.stress.max" value="{{system.stress.max}}" />
          </div>

          <div class="enemy-hitpoints">
            <label class="enemy-label"> Hitpoints: </label>
            <input type="text" name="system.hitpoints.minor" value="{{system.hitpoints.minor}}" />
            <input type="text" name="system.hitpoints.major" value="{{system.hitpoints.major}}" />
            <input type="text" name="system.hitpoints.severe" value="{{system.hitpoints.severe}}" />
          </div>
        </div>
        <div class="gm-rolls">
          <div class="roll-button enemy-attack-roll">Attack Roll <i class="fas fa-dice-d20"></i></div>
          <div class="roll-button enemy-damage-roll">Damage Roll</div>
        </div>
      </div>


    </div>
  </div>
  <div>
    <div class="enemy-description">
      <label>Description</label>
      {{#if system.editMode}}
      <textarea type="text" name="system.description">{{{system.description}}}</textarea>
      {{else}}
      {{{system.description}}}
      {{/if}}

    </div>
    <div class="enemy-tactics">
      <label>Motives & Tactics:</label>
      {{#if system.editMode}}
      <input type="text" name="system.tactics" value="{{system.tactics}}" />
      {{else}}
      {{system.tactics}}
      {{/if}}
    </div>
  </div>
  <div class="enemy-wrap">
    <div class="enemy-left">
      <h3>Stats</h3>
      <div class="enemy-tier {{ternary system.editMode " edit-mode" "view-mode" }}">
        <label for="">Tier:</label>
        {{#if system.editMode}}
        <input type="number" name="system.tier" value="{{system.tier}}">
        {{else}}
        {{system.tier}}
        {{/if}}

      </div>
      <div class="enemy-type {{ternary system.editMode " edit-mode" "view-mode" }}">
        <label for="">Type:</label>
        {{#if system.editMode}}
        <select name="system.type" value="{{system.type}}">
          {{selectOptions enemy_types selected=system.type nameAttr="value" labelAttr="label"}}
        </select>
        {{else}}
        {{system.type}}
        {{/if}}

      </div>
      <div class="spacer"></div>
      <div class="{{ternary system.editMode " edit-mode" "view-mode" }}">
        <label for="">Difficulty:</label>
        {{#if system.editMode}}
        <input name="system.difficulty" value="{{system.difficulty}}" type="text">
        {{else}}
        {{system.difficulty}}
        {{/if}}

      </div>
      <div class="{{ternary system.editMode " edit-mode" "view-mode" }}">
        <label for="">Attack Modifier:</label>

        {{#if system.editMode}}
        <input name="system.attackMod" value="{{system.attackMod}}" type="text">
        {{else}}
        {{system.attackMod}}
        {{/if}}
      </div>

      <div class="{{ternary system.editMode " edit-mode" "view-mode" }}">
        {{#if system.editMode}}
        <label for="">Attack</label>
        <input name="system.weapon.name" value="{{system.weapon.name}}" type="text">
        <div class="flex-align enemy-weapon-stats">
          <select name="system.weapon.range" value="{{system.weapon.range}}">
            {{selectOptions ranges selected=system.weapon.range nameAttr="value" labelAttr="label"}}
          </select>
          <input name="system.weapon.damage" value="{{system.weapon.damage}}" type="text">
          <select name="system.weapon.type" value="{{system.weapon.type}}">
            {{selectOptions attack_types selected=system.weapon.type nameAttr="value" labelAttr="label"}}
          </select>
        </div>
        {{else}}
        <div>
          <div><strong>{{system.weapon.name}}</strong></div>
          <div>{{system.weapon.range}} - {{system.weapon.damage}} {{system.weapon.type}}</div>
        </div>
        {{/if}}

      </div>
      <div>
        <div class="flex-align">
          <label>Experiences</label>
          <a class='item-control add-experience' title='add feature'>
            <i class='fas fa-plus'></i>
          </a>
        </div>
        <div class="experience-list">
          {{#each system.experiences as |experience key|}}


          <div class="flex-align enemy-experience">
            {{#if ../system.editMode}}
            <input type="hidden" name="system.experiences.{{key}}.id" value="{{experience.id}}" />
            <input type="text" class="enemy-experience-name" name="system.experiences.{{key}}.name"
              value="{{experience.name}}" />
            <input type="number" class="short-input" name="system.experiences.{{key}}.mod" value="{{experience.mod}}" />
            <a data-id='{{experience.id}}' class='item-control exp-delete' title='Delete experience'>
              <i class='fas fa-trash'></i>
            </a>
            {{else}}
            <div class="enemy-experience-view"> {{experience.name}} +{{experience.mod}}</div>
            {{/if}}

          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="enemy-right">
      <h3 class="flex-align">Features
        <a class='item-control enemy-feature-create' title='add feature'>
          <i class='fas fa-plus'></i>
        </a>
      </h3>
      <div class="features-list">
        {{#each system.features as |feature key|}}
        <div class="feature-item panel">
          {{#if ../system.editMode}}
          <div>
            <div class="flex-align">
              <label>Name: </label>
              <a data-id='{{feature.id}}' class='item-control enemy-feature-delete' title='Delete Card'>
                <i class='fas fa-trash'></i>
              </a>
            </div>

            <input type="text" name="system.features.{{key}}.name" value="{{feature.name}}">
            <input type="hidden" name="system.features.{{key}}.id" value="{{feature.id}}">
          </div>
          <div>
            <label>Description</label>
            <textarea type="text" name="system.features.{{key}}.description">{{{feature.description}}}</textarea>
          </div>
          {{else}}
          <div>
            <div><strong>{{feature.name}}</strong></div>
            <div>{{feature.description}}</div>
          </div>
          {{/if}}

        </div>
        {{/each}}
      </div>
    </div>
  </div>
</form>