<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. --}}
      <div class="meta">
        <div class="meta-group flexrow flex-group-center">
          <label for="system.attributes.level.value" class="side-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.level.value" value="{{system.attributes.level.value}}"
              data-dtype="Number" />
          </div>
        </div>
        <div class="meta-group flexrow flex-group-center">
          <label for="system.pronouns" class="side-label">Pronouns</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.pronouns" value="{{system.pronouns}}" />
          </div>
        </div>
      </div>
      <div class="meta-domains-list">
        {{#each system.class.selectedDomains as |domain|}}
        <div class="domain-pill {{domain.name}}">{{domain.name}}</div>
        {{/each}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="stats">Stats</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="loadout">Loadout</a>
    <a class="item" data-tab="items">Inventory</a>
    <a class="item" data-tab="leveling">Leveling</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab stats" data-group="primary" data-tab="stats">
      <div class="combat-stat">
        <div class="combat-stat-item">
          <label for="">Evasion</label>
          <input name="system.evasion" class="side-label" value="{{system.evasion}}" type="text">
        </div>
        <div class="combat-stat-item">
          <label for="">Armor</label>
          <input name="system.armor" class="side-label" value="{{system.armor}}" type="text">
        </div>
        <div class="combat-stat-item">
          <label for="">Armor Slots</label>
          <input type="text" name="system.armor_slots.current" class="side-label" value="{{system.armor_slots.current}}"
            alt="armor slots" placeholder="Current">
        </div>
        <div class="combat-stat-item">
          <label for="">Max Slots</label>
          <input type="text" class="side-label" name="system.armor_slots.max" value="{{system.armor_slots.max}}"
            placeholder="Max">
        </div>
      </div>
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns. --}}
          <div class="abilities flexcol">
            <div class="section-title">Stats</div>
            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <input type="checkbox" name="system.abilities.{{key}}.checked" {{checked ability.checked}} />
              <label for="system.abilities.{{key}}.value" data-type="{{key}}"
                class="resource-label time-to-roll align-left"
                data-label="{{ability.label}}">{{ability.label}}</label>
              <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />

            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          <div class="section-title">Hit Points & Stress</div>
          <div class="hitpoints">
            <div class="hitpoints-title resource-label">Minor</div>
            <div class="hitpoints-title resource-label">Major</div>
            <div class="hitpoints-title resource-label">Severe</div>
            <input type="text" name="system.hitpoints.minor" class="short-input side-label"
              value="{{system.hitpoints.minor}}" data-dtype="Number" />
            <input type="text" name="system.hitpoints.major" class="short-input side-label"
              value="{{system.hitpoints.major}}" data-dtype="Number" />
            <input type="text" name="system.hitpoints.severe" class="short-input side-label"
              value="{{system.hitpoints.severe}}" data-dtype="Number" />
          </div>
          <div class="resource health-stress flex-group-center">
            <label for="system.health.value" class="side-label">Health</label>
            <input type="text" class="side-label" name="system.health.value" value="{{system.health.value}}"
              data-dtype="Number" />
            <input type="text" class="side-label" name="system.health.max" value="{{system.health.max}}"
              data-dtype="Number" />
          </div>

          <div class="resource health-stress flex-group-center">
            <label for="system.stress.value" class="resource-label">Stress</label>
            <input type="text" class="side-label" name="system.stress.value" value="{{system.stress.value}}"
              data-dtype="Number" />
            <input type="text" class="side-label" name="system.stress.max" value="{{system.stress.max}}"
              data-dtype="Number" />
          </div>

          <div class="resource health-stress flex-group-center">
            <label for="system.hope" class="side-label" data-label="{{system.hope}}">Hope: </label>
            <input type="number" class="side-label" name="system.hope" class="take-two" value="{{system.hope}}"
              data-dtype="Number" />
          </div>


          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in
          module/helpers/templates.mjs --}}
          {{!-- {{> "systems/daggerheart/templates/actor/parts/actor-features.hbs"}} --}}
        </section>

      </section>
      <section class="experiences">
        {{> "systems/daggerheart/templates/actor/parts/actor-exps.hbs"}}

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to
      the rollData property. --}}

      {{> "systems/daggerheart/templates/actor/parts/actor-description.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab loadout" data-group="primary" data-tab="loadout">
      {{> "systems/daggerheart/templates/actor/parts/actor-loadout.hbs"}}
    </div>


    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      <div class="money">
        <div>Coins <input name="system.wallet.coins" value={{system.wallet.coins}} type="number"/></div>
        <div>Handful <input name="system.wallet.handful" value={{system.wallet.handful}} type="number"/></div>
        <div>Bags <input name="system.wallet.bags" value={{system.wallet.bags}}  type="number"/></div>
        <div>Chest <input name="system.wallet.chest" value={{system.wallet.chest}}  type="number"/></div>
      </div>
      {{> "systems/daggerheart/templates/actor/parts/actor-weapons.hbs"}}
      {{> "systems/daggerheart/templates/actor/parts/actor-items.hbs"}}
    </div>

    <div class="tab leveing" data-group="primary" data-tab="leveling">
      {{> "systems/daggerheart/templates/actor/parts/actor-leveling.hbs"}}
    </div>

  </section>
</form>


{{log system}}