{{#each tier as |levelItem key|}}
<div class="tier-option">
  {{#if ../editMode}}
  <input type="hidden" name="system.{{../tierKey}}.{{key}}.id" value="{{levelItem.id}}" />
  <input type="hidden" name="system.{{../tierKey}}.{{key}}.checked" value="{{levelItem.checked}}" />
  <input class="tier-input" name="system.{{../tierKey}}.{{key}}.option" value="{{levelItem.option}}" />
  <div class="remove-tier" data-id="{{levelItem.id}}" data-type="{{../tierKey}}"><i class="fas fa-trash"></i></div>
  {{else}}
  <div class="connection-text"> {{levelItem.option}} </div>
  {{/if}}
</div>
{{/each}}