<div class="header-name w-100">
  <input name="name" value="{{actor.name}}" placeholder="Name" class="input huge white w-100" />
</div>

<div class="header-title">
  {{#if actor.system.community}}
  <label class="community">
    <span {{{action action="item-edit" id=actor.system.community._id}}}>{{get actor.system.community "name"}}</span>
    <i data-action="item-delete" data-id="{{get actor.system.community '_id'}}" class="fas fa-xmark remove"></i>
  </label>
  {{/if}}
  {{#if actor.system.ancestry}}
  <label class="ancestry">
    <span {{{action action="item-edit" id=actor.system.ancestry._id}}}>{{get actor.system.ancestry "name"}}</span>
    <i data-action="item-delete" data-id="{{get actor.system.ancestry '_id'}}" class="fas fa-xmark remove"> </i>
  </label>
  {{/if}}
  {{#if actor.system.class}}
  <label class="class">
    <span {{{action action="item-edit" id=actor.system.classItem._id}}}>{{get actor.system.classItem "name"}}</span>
    <i data-action="item-delete" data-id="{{get actor.system.classItem '_id'}}" class="fas fa-xmark remove"> </i>
  </label>
  {{/if}}
</div>

<div class="header-ability-score flex items-center justify-between flex-grow">
  {{#each system.abilities as |ability key|}}
  <div class="flex column items-center gap-5 text-center justify-center">
    <label for="system.abilities.{{key}}.value" class="label" {{{action action="ability-roll" type=key label=ability.label}}}>{{ability.label}}</label>
    <input class="input white ability" type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}"
      data-dtype="Number" />
    {{!-- <input type="checkbox" name="system.abilities.{{key}}.checked" {{checked ability.checked}} /> --}}
    {{{checkbox (concat "system.abilities." key ".checked") ability.checked}}}
  </div>
  {{/each}}
</div>