<div class="header-name w-100">
  <input name="name" value="{{actor.name}}" placeholder="Name" class="input huge white w-100" />
</div>

<div class="header-title">
  {{#if actor.system.community}}
  <label>
    {{get actor.system.community "name"}}
    <i data-action="delete-item" data-id="{{get actor.system.community '_id'}}" class="fas fa-xmark remove"></i>
  </label>
  {{/if}}
  {{#if actor.system.ancestry}}
  <label>
    {{get actor.system.ancestry "name"}}
    <i data-action="delete-item" data-id="{{get actor.system.ancestry '_id'}}" class="fas fa-xmark remove"> </i>
  </label>
  {{/if}}
  {{#if actor.system.class}}
  <label>
    {{get actor.system.class "name"}}
    <i data-action="delete-item" data-id="{{get actor.system.class '_id'}}" class="fas fa-xmark remove"> </i>
  </label>
  {{/if}}
</div>

<div class="header-ability-score flex items-center justify-between flex-grow">
  {{#each system.abilities as |ability key|}}
  <div class="flex column items-center gap-5 text-center justify-center">
    <label for="system.abilities.{{key}}.value" data-type="{{key}}" class="class label time-to-roll"
      data-label="{{ability.label}}">{{ability.label}}</label>
    <input class="input white ability" type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}"
      data-dtype="Number" />
    {{!-- <input type="checkbox" name="system.abilities.{{key}}.checked" {{checked ability.checked}} /> --}}
    {{{checkbox (concat "system.abilities." key ".checked") ability.checked}}}
  </div>
  {{/each}}
</div>