<div class="cards">
  {{#if hasCharacter}}
  {{!-- <button type="button" class="open-loadout">popout loadout</button> --}}
  {{/if}}
  <div class="cards-anc-com">
    <div class="section-title accordion active" data-to-open="anc-com">Ancestry & Community</div>
    <div class="accordion-body active" data-accordion="anc-com">
      <div class="card panel">
        <div class="card-header-wrapper flex-align">
          <div class="card-header">
            <div class="card-name"> {{#if system.ancestry.name}} {{{system.ancestry.name}}} {{else}} Empty {{/if}}
            </div>
            <div class="card-domain">Ancestry</div>
          </div>
        </div>
        <div class="card-body">
          {{#if system.ancestry.description}} {{{system.ancestry.description}}} <br/>  <br/>{{/if}}
          {{#if system.ancestry.name}} <strong>{{{system.ancestry.feature}}}</strong> {{else}} Select your ancestry {{/if}}

          <div class="card-options">
            <div class="flex-group-center ">
              <a class='delete-trait card-delete-option' data-type="ancestry" title='Edit card'>
                Delete
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card panel">
        <div class="card-header-wrapper flex-align">
          <div class="card-header">
            <div class="card-name"> {{#if system.community.name}} {{{system.community.name}}} {{else}} Empty {{/if}}
            </div>
            <div class="card-domain">Community</div>
          </div>
        </div>
        <div class="card-body">
          {{#if system.community.description}} {{{system.community.description}}} <br/> <br/> {{/if}}
          {{#if system.community.name}}  <strong>{{{system.community.feature}}}</strong> {{else}} Select your community {{/if}}

          <div class="card-options">
            <div class="flex-group-center ">
              <a class='delete-trait card-delete-option' data-type="community" title='Edit card'>
                Delete
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-subclass">
    <div class="section-title accordion active" data-to-open="anc-subclass">Class / Subclass Cards</div>
    <div class="accordion-body active" data-accordion="anc-subclass">
      {{#each subclasses as |subclass key|}}
      <div class="card panel">
        <div class="card-header-wrapper flex-align">
          <div class="card-header">
            <div class="card-name"> {{subclass.name}}
            </div>
            <div class="card-domain">{{subclass.system.cardType}}</div>
          </div>
        </div>
        <div class="card-body">
          {{{subclass.system.feature}}}
          <div class="card-options">
            <div class="flex-group-center ">
              <a data-item-id='{{subclass._id}}' class='item-control card-edit' title='Edit card'>
                <i class='fas fa-edit'></i>
              </a>
              <a data-item-id='{{subclass._id}}' class='item-control card-delete' title='Delete Card'>
                <i class='fas fa-trash'></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>


  <div class="cards-active">
    <div class="section-title">Loadout</div>
    <div class="wrapper">
      {{#each active_loadout as |item id|}}
      {{> "systems/daggerheart/templates/actor/parts/actor-card.hbs" item=item}}
      {{/each}}
    </div>
  </div>
  <hr />
  <div class="cards-vault">
    <div class="section-title flex-align">Vault
      <a class='item-control item-create' title='{{localize "DOCUMENT.Create" type=' domain'}}' data-type='domain'>
        <i class='fas fa-plus'></i>
      </a>
    </div>
    <div class="wrapper">
      {{#each vault as |item id|}}
      {{> "systems/daggerheart/templates/actor/parts/actor-card.hbs" item=item}}
      {{/each}}
    </div>
  </div>
</div>