<form class="{{cssClass}}" autocomplete="off">
  <img class="profile-img img-wrap" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
  {{!-- Sheet Body --}}
  <section class="">
    <div class="generic-card generic-card-input">
      <label for="name" class="resource-label">Name</label>
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
    </div>
    <div class="generic-card generic-card-select">
      <label for="system.cardType" class="resource-label">Card Type</label>
      <select name="system.cardType">
        {{selectOptions cardTypes selected=system.cardType nameAttr="value" labelAttr="label"}}
      </select>
    </div>
    <div class=" generic-card-editor editor-wrap">
      <label for="system.feature" class="resource-label">Feature</label>
      {{{editor system.feature target="system.feature" button=true owner=owner editable=editable}}}
    </div>

    <div class="add-feature-for-card">
      test
    </div>

    <div>
      {{#each system.cardFeatures as |feature key|}}
      <input name="system.cardFeatures.{{key}}.id" value="{{feature.id}}" />
      <input name="system.cardFeatures.{{key}}.name" value="{{feature.name}}" />
      <input name="system.cardFeatures.{{key}}.description" value="{{feature.description}}" />
      {{/each}}
    </div>
  </section>
</form>