<form class="{{cssClass}} class-sheet " autocomplete="off">
  <div class="class-wrapper">
    <div class="class-sidebar flex column items-center p-5">
      <img width="128px" height="128px" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="sidebar-evasion flex items-center justify-between w-100 mb-5 mt-5">
        <label class="label">Evasion</label>
        <input name="system.defaultEvasion" value="{{system.defaultEvasion}}" class="white input number"/>
      </div>

      <div class="flex items-center justify-between w-100 mb-5">
        <div class="flex column items-center gap-5">
          <label for="system.defaultThreshold.minor" class="label">MINOR</label>
          <input name="system.defaultThreshold.minor" value="{{system.defaultThreshold.minor}}"
                 class="white input number"/>
        </div>
        <div class="flex column items-center gap-5">
          <label for="system.defaultThreshold.major" class="label">MAJOR</label>
          <input name="system.defaultThreshold.major" value="{{system.defaultThreshold.major}}"
                 class="white input number"/>
        </div>
        <div class="flex column items-center gap-5">
          <label for="system.defaultThreshold.severe" class="label">SEVERE</label>
          <input name="system.defaultThreshold.severe" value="{{system.defaultThreshold.severe}}"
                 class="white input number"/>
        </div>
      </div>
      <div class="section flex justify-between items-center w-100 mt-5">
        Add Domain
        <div {{{action action="class-domain-add" }}}>
          <i class='fas fa-plus'></i>
        </div>
      </div>
      <div class="flex column gap-5 w-100">
        {{#each system.selectedDomains as |domain key|}}
          <div class="flex gap-5 w-100">
            <input type="hidden" name="system.selectedDomains.{{key}}.id" value={{domain.id}} />
            <select class="{{domain.name}} w-100" name="system.selectedDomains.{{key}}.name">
              112     {{selectOptions ../domains selected=domain.name}}
            </select>
            <div {{{action action="class-domain-delete" id=domain.id}}}>
              <i class='fas fa-trash'></i>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="class-content">
      <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="leveling">Leveling</a>
        <a class="item" data-tab="info">Into</a>
        <a class="item" data-tab="items">Items</a>
      </nav>
      <div class="sheet-body">
        <div class="tab stats" data-group="primary" data-tab="features">
          {{> "systems/daggerheart/templates/item/layout/class/stats.hbs"}}
        </div>
        <div class="tab stats" data-group="primary" data-tab="leveling">
          {{> "systems/daggerheart/templates/item/layout/class/leveling.hbs"}}
        </div>
        <div class="tab stats" data-group="primary" data-tab="items">
          {{> "systems/daggerheart/templates/item/layout/class/items.hbs"}}
        </div>
        <div class="tab stats" data-group="primary" data-tab="info">
          {{> "systems/daggerheart/templates/item/layout/class/info.hbs"}}
        </div>
      </div>
    </div>
  </div>

</form>