<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>


  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="domain-stats">
      <div class="resource flex-group-center">
        <label for="system.domain" class="resource-label">Domain</label>
        <select name="system.domain">
          {{selectOptions domains selected=system.domain}}
        </select>
      </div>
      <div class="resource flex-group-center">
        <label for="system.domainType" class="resource-label">Type</label>
        <input type="text" name="system.domainType" value="{{system.domainType}}" />
      </div>
      <div class="resource flex-group-center">
        <label for="system.recall" class="resource-label">Recall</label>
        <input type="number" name="system.recall" value="{{system.recall}}" data-dtype="Number" />
      </div>
    </div>

    <div class="resource flex-group-center editor-wrap">
      <label for="system.feature" class="resource-label">Feature</label>
      <textarea name="system.feature">{{{system.feature}}}</textarea>
    </div>
  </section>
</form>