<form class="{{cssClass}} " autocomplete="off">
  <div class="weapon-form">

    <div class="weapon-grid">
      <img class="img-wrap" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      <div class="weapon-grid-options">
        <div class="weapon-input-group flex-grow">
          <label for="name">Name</label>
          <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </div>
        <div class="weapon-input-group weapon-input-group-flex">

          <div class="weapon-input-group weapon-input-group-flex">
            <div class="weapon-input-group">
              <label for="system.isSecondary">is Secondary?</label>
              <input type="checkbox" name="system.isSecondary" {{checked system.isSecondary}} />
            </div>
            <div class="weapon-input-group">
              <label for="system.burden">Burden</label>
              <select name="system.burden">
                {{selectOptions burden selected=system.burden nameAttr="value" labelAttr="label"}}
              </select>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="weapon-input-group weapon-input-group-flex">
      <div class="weapon-input-group">
        <label for="system.trait">Trait</label>
        <select name="system.trait">
          {{selectOptions traits selected=system.trait nameAttr="value" labelAttr="label"}}
        </select>
      </div>

      <div class="weapon-input-group flex-grow ">
        <label for="system.range">Range</label>
        <select name="system.range">
          {{selectOptions range selected=system.range nameAttr="value" labelAttr="label"}}
        </select>
      </div>

      <div class="weapon-input-group">
        <label for="system.damage">Damage</label>
        <input name="system.damage" type="text" value="{{system.damage}}" placeholder="Damage" />
      </div>

      <div class="weapon-input-group">
        <label for="system.type">Damage Type</label>
        <select name="system.type" value="{{system.type}}">
          {{selectOptions attack_types selected=system.type nameAttr="value" labelAttr="label"}}
        </select>
      </div>
    </div>


    <div class="editor-wrap">
      <label for="system.feature">Feature</label>
      <textarea name="system.feature">{{{system.feature}}}</textarea>
    </div>
  </div>
</form>