<form class="{{cssClass}} class-sheet " autocomplete="off">
  <div class="class-wrapper">
    <div class="class-sidebar flex column items-center p-5">
      <img width="128px" height="128px" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="sidebar-evasion flex items-center justify-between w-100 mb-5 mt-5">
        <label class="label">Evasion</label>
        <input name="system.defaultEvasion" value="{{system.defaultEvasion}}" class="white input number"/>
      </div>

      <div class="flex items-center justify-between w-100 mb-5">
        <div class="flex column items-center gap-5">
          <label for="system.defaultThreshold.minor" class="label">MINOR</label>
          <input name="system.defaultThreshold.minor" value="{{system.defaultThreshold.minor}}"
                 class="white input number"/>
        </div>
        <div class="flex column items-center gap-5">
          <label for="system.defaultThreshold.major" class="label">MAJOR</label>
          <input name="system.defaultThreshold.major" value="{{system.defaultThreshold.major}}"
                 class="white input number"/>
        </div>
        <div class="flex column items-center gap-5">
          <label for="system.defaultThreshold.severe" class="label">SEVERE</label>
          <input name="system.defaultThreshold.severe" value="{{system.defaultThreshold.severe}}"
                 class="white input number"/>
        </div>
      </div>
      <div class="section flex justify-between items-center w-100 mt-5">
        Add Domain
        <div {{{action action="class-domain-add" }}}>
          <i class='fas fa-plus'></i>
        </div>
      </div>
      <div class="flex column gap-5 w-100">
        {{#each system.selectedDomains as |domain key|}}
          <div class="flex gap-5 w-100">
            <input type="hidden" name="system.selectedDomains.{{key}}.id" value={{domain.id}} />
            <select class="{{domain.name}} w-100" name="system.selectedDomains.{{key}}.name">
              112     {{selectOptions ../domains selected=domain.name}}
            </select>
            <div {{{action action="class-domain-delete" id=domain.id}}}>
              <i class='fas fa-trash'></i>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="class-content">
      <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="leveling">Leveling</a>
        <a class="item" data-tab="info">Into</a>
        <a class="item" data-tab="items">Items</a>
      </nav>
      <div class="sheet-body">
        <div class="tab stats" data-group="primary" data-tab="features">
          <div class="section flex justify-between items-center" {{{action action="class-feature-add"}}}>Class Features
            <i class="fa fa-plus"></i></div>
          {{#each system.classFeatures as |classFeature key|}}
            <div class="flex column items-center p-5 w-100">
              <input type="hidden" name="system.classFeatures.{{key}}.id" value="{{classFeature.id}}"/>
              <input type="text" class="w-100 input" name="system.classFeatures.{{key}}.name"
                     value="{{classFeature.name}}"/>
              <div class="w-100">
                {{{editor system.feature target=(concat 'system.classFeatures.' key '.description')
                          class="simple h150 white"}}}
              </div>
              <div {{{action action="class-feature-delete" id=classFeature.id}}}>
                <i class="fa fa-trash"></i>
              </div>
            </div>
          {{/each}}
        </div>
        <div class="tab stats" data-group="primary" data-tab="leveling">
          <section class="leveling-section">
            <div class="tier-header">
              <h3 class="tier-range section-title">Level 2-4</h3>
              <div class="tier-bonus">At Level 2, take an additional Experience.</div>
              <span {{{action action="add-tier" type="tier1"}}}>Add Item</span>
            </div>
            <div>
              <label for="tier1Description">Tier 1 Description</label>

              {{editor system.tier1Description target="system.tier1Description" button=true rollData=rollData
                       owner=owner editable=editable}}

            </div>
            <section class="tier">
              {{> "systems/daggerheart/templates/item/parts/item-tier.hbs" tier=system.tier1 editMode=system.editMode tierKey="tier1"}}
            </section>
          </section>
          <section class="leveling-section">
            <div class="tier-header">
              <h3 class="tier-range section-title">Level 5-7</h3>
              <div class="tier-bonus">At Level 5, take an additional Experience and clear all marks on Character Traits.
              </div>
              <span {{{action action="add-tier" type="tier2"}}}>Add Item</span>
            </div>
            <label for="tier1Description">Tier 2 Description</label>

            {{editor system.tier2Description target="system.tier2Description" button=true rollData=rollData
                     owner=owner editable=editable}}

            <section class="tier">
              {{> "systems/daggerheart/templates/item/parts/item-tier.hbs" tier=system.tier2 editMode=system.editMode tierKey="tier2"}}
            </section>
          </section>
          <section class="leveling-section">
            <div class="tier-header">
              <h3 class="tier-range section-title">Level 8-10</h3>
              <div class="tier-bonus">At Level 8, take an additional Experience and clear all marks on Character Traits.
              </div>
              <span {{{action action="add-tier" type="tier3"}}}>Add Item</span>
            </div>

            <label for="tier3Description">Tier 3 Description</label>

            {{editor system.tier3Description target="system.tier3Description" button=true rollData=rollData
                     owner=owner editable=editable}}

            <section class="tier">
              {{> "systems/daggerheart/templates/item/parts/item-tier.hbs" tier=system.tier3 editMode=system.editMode tierKey="tier3"}}
            </section>
          </section>
        </div>
        <div class="tab stats" data-group="primary" data-tab="items">Test</div>
        <div class="tab stats" data-group="primary" data-tab="info">
          <!--  Class Questions        -->
          <div class="section flex items-center justify-between">
            <span>Background Questions</span>
            <div {{{action action="class-question-add"}}}>
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <div class="flex column w-100 p-5 gap-10">
            {{#each system.questions as |question key|}}
              <div class="flex column">
                <label class="flex items-center justify-between label" for="system.questions.{{key}}.question">
                  Question
                  <span {{{action action="class-question-delete" id=question.id}}}>
                    <i class='fas fa-trash'></i>
                  </span>
                </label>
                <input type="hidden" name="system.questions.{{key}}.id" value="{{question.id}}"/>
                <input  class="input" name="system.questions.{{key}}.question" value="{{question.question}}">
              </div>
            {{/each}}
          </div>
          <!-- Class Connections -->
          <div class="section flex items-center justify-between">
            <span>Background Questions</span>
            <div {{{action action="class-connection-add"}}}>
              <i class="fa fa-plus"></i>
            </div>
          </div>
          <div class="flex column w-100 p-5 gap-10">
            {{#each system.connections as |connection key|}}
              <div class="flex column">
                <label class="flex items-center justify-between label"  for="system.connection.{{key}}.question">
                  Question
                  <span {{{action action="class-connection-delete" id=connection.id}}}
                        data-type="connections">
                    <i class='fas fa-trash'></i>
                  </span>
                </label>
                <input type="hidden" name="system.connections.{{key}}.id" value="{{connection.id}}"/>
                <input  class="input" name="system.connections.{{key}}.question" value="{{connection.question}}">

              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--      <h2 class="section-title flex-align">-->
  <!--        Class Features-->
  <!--        {{#if system.editMode}}-->
  <!--        <div class="class-sheet-add-question class-feature-add">-->
  <!--          <i class='fas fa-plus'></i>-->
  <!--        </div>-->
  <!--        {{/if}}-->
  <!--      </h2>-->
  <!--      <div class="class-features">-->

  <!--      </div>-->
  <!--    </div> -->
  <!--    <div class="tab connection_questions" data-group="primary" data-tab="connection_questions">-->
  <!--      <div class="panel panel-mb">-->
  <!--        <div class="panel-header flex-align">-->
  <!--          <div>Background Questions</div>-->
  <!--          {{#if system.editMode}}-->
  <!--          <div class="class-sheet-add-question question-add" data-type="questions">-->
  <!--            <i class='fas fa-plus'></i>-->
  <!--          </div>-->
  <!--          {{/if}}-->
  <!--        </div>-->

  <!--      </div>-->

  <!--      <div class="panel">-->

  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="tab leveling" data-group="primary" data-tab="leveling">-->
  <!--      <div class="leveling">-->

  <!--      </div>-->
  <!--    </div>-->

  <!--    <div class="tab items" data-group="primary" data-tab="items">-->
  <!--      <div class="money">-->
  <!--        <div>Coins <input name="system.wallet.coins" value={{system.wallet.coins}} type="number" /></div>-->
  <!--        <div>Handful <input name="system.wallet.handful" value={{system.wallet.handful}} type="number" /></div>-->
  <!--        <div>Bags <input name="system.wallet.bags" value={{system.wallet.bags}} type="number" /></div>-->
  <!--        <div>Chest <input name="system.wallet.chest" value={{system.wallet.chest}} type="number" /></div>-->
  <!--      </div>-->
  <!--      <h2 class="section-title flex-align">-->
  <!--        Item-->
  <!--      </h2>-->

  <!--      <div class="starting-items">-->
  <!--        <div>A torch</div>-->
  <!--        <div>50ft of rope</div>-->
  <!--        <div>Basic supplies</div>-->
  <!--      </div>-->

  <!--      <h2 class="section-title flex-align">-->
  <!--        Item Choices-->
  <!--        <div class="class-sheet-add-item class-choice-add">-->
  <!--          <i class='fas fa-plus'></i>-->
  <!--        </div>-->
  <!--      </h2>-->
  <!--      {{log system.choiceItems}}-->
  <!--      <div class="item-to-get-list">-->
  <!--        {{#each system.choiceItems as |item key|}}-->
  <!--        <div class="item-to-get-list-item flex-align">-->
  <!--          <div>-->
  <!--            <label for="">Choice 1</label>-->
  <!--            <input name="system.choiceItems.{{key}}.choice1" value="{{item.choice1}}" />-->
  <!--          </div>-->
  <!--          <div>-->
  <!--            <label for="">Choice 2</label>-->
  <!--            <input name="system.choiceItems.{{key}}.choice2" value="{{item.choice2}}" />-->
  <!--          </div>-->
  <!--          <input type="hidden" name="system.choiceItems.{{key}}.id" value={{item.id}} />-->
  <!--          <div data-id={{item.id}} class="class-sheet-add-item class-choice-remove">-->
  <!--            <i class='fas fa-trash'></i>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        {{/each}}-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</form>