<form class="{{cssClass}} bg-primary" autocomplete="off">
  <div class="flex items-center column gap-10 p-5">
    <img class="profile-img  bg-card" width="128px" height="128px" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="flex column gap-5 w-100">
      <label for="name">Name</label>
      <input name="name" class="input w-100 huge white" value="{{item.name}}" placeholder="Name"/>
    </div>
    <div class="w-100">
      {{editor system.description target="system.description" class="h150 simple"}}
    </div>
  </div>
</form>