<form class="{{cssClass}} item-sheet weapon" autocomplete="off">
  <div class="item-wrap flex items-center column gap-10">
    <div class="item-sidebar flex-shrink">
      <img class="img-wrap" width="128" height="128" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    </div>
    <div class="item-info flex column gap-10 w-100">
      <label class="label strong" for="name">Name</label>
      <input class="input w-100" name="name" type="text" value="{{item.name}}" placeholder="Name" />
    </div>
    <div class="item-info flex column gap-10 w-100">
      <label class="label strong" for="system.damage">Damage</label>
      <input class="input w-100" name="system.damage" type="text" value="{{system.damage}}" placeholder="Damage" />
    </div>
    <div class="flex items-center justify-between w-100">
      <label class="label strong" for="system.isSecondary">is Secondary?</label>
      <input type="checkbox" name="system.isSecondary" {{checked system.isSecondary}} />
    </div>
    <div class="w-100">
      <label class="label strong" for="system.burden">Burden</label>
      <select name="system.burden" class="w-100">
        {{selectOptions burden selected=system.burden nameAttr="value" labelAttr="label"}}
      </select>
    </div>
    <div class="w-100">
      <label class="label strong" for="system.trait">Trait</label>
      <select name="system.trait" class="w-100">
        {{selectOptions traits selected=system.trait nameAttr="value" labelAttr="label"}}
      </select>
    </div>
    <div class="w-100">
      <label class="label strong" for="system.range">Range</label>
      <select name="system.range" class="w-100">
        {{selectOptions range selected=system.range nameAttr="value" labelAttr="label"}}
      </select>
    </div>
    <div class="w-100">
      <label class="label strong" for="system.type">Damage Type</label>
      <select name="system.type" class="w-100" value="{{system.type}}">
        {{selectOptions attack_types selected=system.type nameAttr="value" labelAttr="label"}}
      </select>
    </div>
    <div class="flex column gap-10 w-100">
      <label class="label strong" for="system.feature">Feature</label>
      {{editor system.feature target="system.feature" class="simple h150 white" owner=owner}}
    </div>
  </div>
</form>